body{
    font-family: 'Poppins', sans-serif;
}
.for-display{
    display:flex;
}
span{
    color:orange;
}
h1{
    font-size: 50px;
    padding-top:20px;
}
.for-width{
    padding-top: 60px;
    padding-left: 130px;
    width:50%
}
.my-img{
    padding-right: 150px;
    width: 50%;
}

.for-size{
    padding-bottom: 40px;
    padding-right: 90px;
    font-size: 15px;
}
.for-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 30px;
    padding:10px 20px;
    color: white;
    font-weight:900;
}
.second-section-bg{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.second-section-img{
    padding-left: 170px;
    padding-top:45px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: -5px;
}
#for-right{
    padding-left: 100px;
    padding-top: 110px;
    padding-right: 200px;
    width: 50%;
}
.about-title{
    font-size:30px;
}
#button-padding{
    padding-bottom: 50px;
}
