body{
    font-family: 'Poppins', sans-serif;
}
.for-display{
    display:flex;
}
span{
    color:orange;
}
#h1-id{
    font-size: 50px;
    padding-top:20px;
}
.for-width{
    padding-top: 60px;
    padding-left: 130px;
    width:50%
}
.my-img{
    padding-right: 150px;
    width: 50%;
}

.for-size{
    padding-bottom: 40px;
    padding-right: 90px;
    font-size: 15px;
}
.for-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 30px;
    padding:10px 20px;
    color: white;
    font-weight:900;
}
.second-section-bg{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.second-section-img{
    padding-left: 170px;
    padding-top:45px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: -5px;
}
#for-right{
    padding-left: 100px;
    padding-top: 110px;
    padding-right: 200px;
    width: 50%;
}
.about-title{
    font-size:30px;
}
#button-padding{
    padding-bottom: 50px;
}
.center{
    text-align: center;
}
.text-padding{
    padding-left: 25%;
    padding-right: 25%;
}
#repcipie{
    padding-bottom: 30px;
}
.recipie-padding{
    padding-top: 50px;

}
.recipie-box{
    border:3px gray;
    box-shadow: 10px 10px 50px gray;
    border-radius: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding:30px;
    width:26%;
}
.size-box{
    margin-top:80px;
}
.hours{
    width:700px;
    margin-left:10%;
    background-color:rgb(83, 83, 83);
    color: white;
}
.contact{
    width:700px;
    margin-right: 10%;
    background-color:rgb(207, 207, 207);
    color: black;
    
}
.submit{
    margin-left: 48px;
    margin-top:10%;
    text-decoration: none;
    background-image: linear-gradient(black,gray);
    border-radius: 25px;
    padding:5px 15px;
    color:white;
    font-weight:900;
}
footer{
    text-align: center;
    background-color: black;
    height: 200px;
    padding-top: 25px;
    margin-top: 50px;
}

footer p{
    color: white;
}
.gray{
    color: gray;
}
.orange{
    color: orange;
}
.last-padding{
}

